<h1>Michelle Kwon</h1>
<h4>Sophomore!</h4>
<p>Fun fact: If you lift a kangaroo's tail it can't hop!!!
  I thought this was more interesting than something about me</p>
<p>I'm excited to learn more about RoR and someday become a MASTER
  like Nhi and Jon and the TAs :D </p>
